body {
  text-align: center;
}
img {
  width: 400px;
}

.menu > a {
  font-variant: small-caps;
  text-decoration: none;
  color: blue;
  margin: 5px;
}
.menu > a:visited {
  color: green;
}
.menu > a:hover {
  color: red;
  text-decoration: underline;
}
