@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Fira Sans', sans-serif;
}
.container{
    width: 100%;
    height: auto;
    margin: 0 25%;
}
.box{
    border-collapse: collapse;
    border: 1px solid #519259;
}
.box thead .head{
    color: white;
    border: 1px solid white;
}

.box  th,  td{
    border: 2px solid #71946d;
    width: 150px;
    text-align: center;
    color: black;
    font-weight: bold;
    height: 55px;
}

.box thead tr:nth-child(2n+1){
    background-color: #519259;
    line-height: 40px;

    
}
.box thead tr:nth-child(2n){
    background-color:#BAFFB4;
    line-height: 40px;
}