body {
  margin: 0px;
  text-align: center;
}
.box img {
  width: 20%;
  height: 200px;
  padding: 10px;
  margin: 5px;
  background-color: yellow;
  border-radius: 10px;

  box-shadow: 0 0 5px gray;
}
.box img:hover {
  box-shadow: 0 0 20px red;
  background-color: aqua;
}
