body {
  text-align: center;
}
h2 {
  color: white;
  text-shadow: 0 0 5px red;
}
p {
  font-variant: small-caps;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 25px;
  font-style: italic;
}
b {
  color: brown;
}
#doan1 {
  color: red;
}
#doan2 {
  color: blue;
}
#doan3 {
  color: green;
}
